<span class="itemIconContainer">
    {% if value is same as "activity_regular" %}
        <i class="fa fa-flag" aria-hidden="true"></i>
    {% elseif value is same as "private_shuttle" %}
        <i class="fa fa-fw fa-shuttle-van"></i>
    {% elseif value is same as "water_taxi" %}
        <i class="fa fa-fw fa-shuttle-van"></i>
    {% elseif value is same as "private_flight" %}
        <i class="fa fa-fw fa-shuttle-van"></i>
    {% elseif value is same as "shared_jbj" %}
        <i class="fa fa-fw fa-shuttle-van"></i>
    {% elseif value is same as "private_jbj" %}
        <i class="fa fa-fw fa-shuttle-van"></i>
    {% elseif value is same as "combo" %}
        <i class="fa fa-square" aria-hidden="true"></i> <i class="fa fa-square absolutePosition" aria-hidden="true"></i>
    {% endif %}
</span>

{% if ( item.anyExtras or item.anyAddons ) %} 
<span class="itemHasExtras">
    <i class="fa fa-angle-down" aria-hidden="true"></i>
</span>
{% endif %}

{% set hasAdditionalDriver = false %}
{% for driver in item.additionalDrivers %}
    {% if driver.driver != null or driver.fromDescription != "" or driver.toDescription != "" or driver.vehicle != null %}
        {% set hasAdditionalDriver = true %}
    {% endif %}
{% endfor %}


{% if hasAdditionalDriver %}
<span class="itemHasExtras">
    <i class="fa fa-angle-down" aria-hidden="true"></i>
</span>
{% endif %}
