{% extends "faq/index.html.twig" %}

{% block title %}Activities FAQ{% endblock %}

{% block tab_sub_title %}Activities{% endblock %}

{% block content %}
    <div class="faq_content">
        <div class="faq_question">How far in advance can I make a reservation?</div>
        <div class="faq_answer">
            Reservations should be made in advance to secure your activities as space sometimes is limited. For 
            Last-minute reservations, please email us at <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a>. During any holiday season, 
            reservations should be made in advance to secure your reservation.
        </div>

        <div class="faq_question">Are there any taxes on Activities?</div>
        <div class="faq_answer">
            Yes, it’s 13%, and it will show online during the booking process.
        </div>
        
        <div class="faq_question">What happens if my hotel or villa is located outside of the hotel zone?</div>
        <div class="faq_answer">
            An additional transportation fee will apply depending on your location. You will receive an email 
            informing you about this.
        </div>
        
        <div class="faq_question">What should I wear for activities in Costa Rica?</div>
        <div class="faq_answer">
            Dress comfortably and consider the activity. For 
            adventure activities, wear appropriate footwear, comfortable clothing, and sun protection. You will find a 
            list of what to bring for each activity on the website and in your confirmation email.
        </div>

        <div class="faq_question">Are rates per person?</div>
        <div class="faq_answer">
            Activities are based on a per person rate.
        </div>
        
        <div class="faq_question">What is the cancellation policy for Activities?</div>
        <div class="faq_answer">
            If you need to cancel your reservation for any reason, we require a written email <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a>
            at least 48 hours before your service. A full refund will apply excluding the credit card fees of 5%.
        </div>
        
        <div class="faq_question">What types of activities can I enjoy in Costa Rica?</div>
        <div class="faq_answer">
            Costa Rica offers a wide range of activities including adventure sports, wildlife tours, hiking, beach 
            activities, cultural experiences, and more. Visit our website <a href="/tours">www.iltcostarica.com/tours</a> for more 
            information.
        </div>

        <div class="faq_question">How do I book activities in Costa Rica?</div>
        <div class="faq_answer">
            Activities can be booked through our website <a href="/tours">www.iltcostarica.com/tours</a>.
        </div>
        
        <div class="faq_question">Are activities suitable for all age groups?</div>
        <div class="faq_answer">
            Many activities in Costa Rica cater to various age groups. It's important to inquire about age restrictions 
            and physical requirements before booking. You can find out more information about which tours are 
            suitable for children online at <a href="/tours">www.iltcostarica.com/tours</a>
        </div>
        
        <div class="faq_question">Do you offer group tours or private tours?</div>
        <div class="faq_answer">
            Absolutely, we provide both group tours and private tours to suit your preferences and needs. Whether 
            you're looking for a shared experience with other travelers or a more personalized journey tailored to 
            your group, we have options that cater to both styles of travel.
        </div>
        
        <div class="faq_question">What happens if activities are affected by weather conditions?</div>
        <div class="faq_answer">
            We understand that weather conditions can sometimes impact planned activities. Here's our policy 
            regarding weather-related situations:
            <br /><br />
            <span style="font-weight: 500">1. Activities Running Rain or Shine:</span> Many of our activities are designed to operate regardless of 
            weather conditions. Light rain or drizzle might not necessarily affect the activity, and it can even 
            add a unique element to the experience.
            <br /><br />
            <span style="font-weight: 500">2. Severe Weather:</span> In cases of severe weather conditions that could pose safety risks to 
            participants or compromise the quality of the activity, we prioritize safety above all else. If the 
            weather is deemed unsafe by our experienced guides or activity providers, we may decide to 
            postpone or reschedule the activity.
            <br /><br />
            <span style="font-weight: 500">3. Rescheduling:</span> If the weather forecast indicates better conditions at a later time or date, we'll 
            make every effort to reschedule the activity for your convenience. Your safety and enjoyment 
            are paramount.
            <br /><br />
            <span style="font-weight: 500">4. Refund Policy:</span> In cases where the activity cannot be rescheduled due to weather or other 
            unforeseen circumstances, we'll apply a refund for the affected portion of your booking. Our 
            goal is to ensure fairness and customer satisfaction.
            <br /><br />
            <span style="font-weight: 500">5. Open Communication:</span> We maintain open communication with our clients and closely monitor 
            weather conditions. If there are any concerns about weather affecting your scheduled activity, 
            our team will promptly reach out to discuss possible options.    
            <br /><br />
            Your safety and enjoyment are our top priorities. Rest assured that we'll do our best to provide you with 
            a memorable and enjoyable experience while considering safety and weather conditions. If you have 
            any questions or concerns, please feel free to contact us.
        </div>
        
        <div class="faq_question">Should we leave a tip with our guide?</div>
        <div class="faq_answer">
            Tipping is not mandatory, but it is highly appreciated. Generally, a tip of 20% to 25% is the norm. That 
            being said, the amount is at your discretion and may vary depending on your level of satisfaction and 
            the number of participants.
        </div>              
    </div>
{% endblock %}
