{% extends "faq/index.html.twig" %}

{% block title %}Jeep-Boat-Jeep Service FAQ{% endblock %}

{% block tab_sub_title %}Jeep-Boat-Jeep Service{% endblock %}

{% block content %}
    <div class="faq_content">
        <div class="faq_question">What is the Jeep-Boat-Jeep service in Costa Rica?</div>
        <div class="faq_answer">
            The Jeep-Boat-Jeep service is a transportation option that allows travelers to journey between two 
            destinations separated by Lake Arenal. It involves a combination of road travel in a van/microbus, a 
            scenic boat ride across Lake Arenal, and another segment of road travel in a jeep.
        </div>

        <div class="faq_question">Where does the Jeep-Boat-Jeep service operate?</div>
        <div class="faq_answer">
            The service commonly operates between the La Fortuna area (near Arenal Volcano) and 
            Monteverde, and vice versa as these destinations are separated by the lake.
        </div>

        <div class="faq_question">How does the Jeep-Boat-Jeep service work?</div>
        <div class="faq_answer">
            Travelers are picked up in a van or microbus from their starting point. They travel by road to the 
            Arenal Lake dock, where they board a boat for a scenic ride across the lake. On the other side, they 
            again take a van or microbus to reach their final destination, a door-to-door service.
        </div>

        <div class="faq_question">Why is it called the Jeep-boat-Jeep service? Do we get picked up in a Jeep?</div>
        <div class="faq_answer">
            The name "Jeep-boat-Jeep" for this transportation service originates from its historical context. 
            Initially introduced when roads between destinations like La Fortuna and Monteverde were rugged, 
            a Jeep was used due to its off-road capabilities. As road conditions improved, vehicles evolved to 
            enhance comfort. Despite the name, modern services often use microbuses or vans. The concept of 
            using diverse transport modes (Jeep and boat) to bridge areas separated by Lake Arenal remains 
            intact, offering an efficient and scenic route. While "Jeep-boat-Jeep" refers to the past use of a Jeep, 
            today's implementation adapts vehicles for both land and water segments of the journey.
        </div>
            
        <div class="faq_question">What are the advantages of using the Jeep-Boat-Jeep service?</div>
        <div class="faq_answer">
            Advantages include saving time compared to a longer road journey, enjoying stunning views of Lake 
            Arenal and the surrounding landscapes, and experiencing a combination of different modes of 
            transportation.
        </div>

        <div class="faq_question">How long does the Jeep-Boat-Jeep journey take?</div>
        <div class="faq_answer">
            The total journey time can vary depending on factors like road conditions, weather, and schedules. 
            Typically, the boat ride takes around 30 minutes, and the entire journey can range from 
            approximately 3 to 4 hours.
        </div>
            
        <div class="faq_question">Do I need to make reservations for the Jeep-Boat-Jeep service?</div>
        <div class="faq_answer">
            It's recommended to make reservations in advance, especially during peak tourist seasons, to secure 
            your spot. This can be done through the website or <a href="/product/transportation/jeep-boat-jeep">here</a>.
        </div>

        <div class="faq_question">Are there alternative transportation options between La Fortuna and Monteverde?</div>
        <div class="faq_answer">
            Yes, there are other routes, including longer road journeys around the lake. However, the Jeep-Boat-Jeep service is often chosen for its efficiency and scenic experience.
        </div>  
            
        <div class="faq_question">Is the Jeep-Boat-Jeep service suitable for children and elderly travelers?</div>
        <div class="faq_answer">
            Yes, the service is generally suitable for travelers of all ages. Please let us know of any specific 
            accommodations or considerations.
        </div>

        <div class="faq_question">Can I bring luggage on the Jeep-Boat-Jeep service?</div>
        <div class="faq_answer">
            Yes, you can bring luggage with you on the journey (1 suitcase + carry-on per person). Please note 
            that for both services (shared and private), passengers should expect to carry their bags/luggage to 
            and from the boat. There may be a crew assisting you on this, but it cannot be assured.
            Mud can be present, and note that it is a natural characteristic of the area and the transportation 
            service. We would suggest taking precautions to safeguard your luggage from the mud.
        </div>

        <div class="faq_question">How far in advance can I make a reservation?</div>
        <div class="faq_answer">
            We recommend making reservations in advance to ensure availability and secure your booking. For 
            <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> to inquire about availability.
            During holiday seasons, it's especially important to book ahead to secure your reservation.
        </div>

        <div class="faq_question">Is this going to be a Shared or Private service for the Jeep-boat-Jeep?</div>
        <div class="faq_answer">
            The Jeep-boat-Jeep service offers both shared and private options for travelers to choose from. 
            When booking online, you can select the option that best suits your preferences and needs. This 
            flexibility allows you to decide whether you'd prefer a shared experience with other travelers or a 
            private service exclusively for your group.
        </div>
            
        <div class="faq_question">Are rates per person for the Jeep-boat-Jeep service?</div>
        <div class="faq_answer">
            For the shared service, the rates are calculated on a per-person basis. Alternatively, the private 
            service operates on a fixed rate for up to 5 passengers, with an additional charge for each additional 
            passenger added to the group.
            <br /><br />
            It's important to be aware of the pricing structure for both options when making your reservation, 
            as this will help you make an informed decision based on your budget and preferences.
        </div>

        <div class="faq_question">Are there any taxes for the Jeep-boat-Jeep service?</div>
        <div class="faq_answer">
            Yes, Costa Rica has a 13% sales tax is applicable to the services provided. This tax will be 
            automatically calculated and included in the total cost during the online booking process.
        </div>
            
        <div class="faq_question">Does the Jeep-boat-Jeep service operate outside La Fortuna?</div>
        <div class="faq_answer">
            Yes, the Jeep-boat-Jeep service does operate beyond La Fortuna, covering other areas as well. 
            However, if your hotel or villa is located outside of La Fortuna, an additional fee will be applied. You 
            will receive an email detailing the total cost of this additional fee. Additionally, if the property 
            requires a 4x4 vehicle to access due to challenging road conditions, an extra fee will also be 
            applicable. It's important to keep these considerations in mind when planning your transportation 
            arrangements.
        </div>
        
        <div class="faq_question">Can I make changes to my pick-up time if needed?</div>
        <div class="faq_answer">
            Certainly. If you need to adjust your pick-up time, we kindly request that you send a written email to 
            <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> at least 24 hours before your scheduled service. We will make every effort to 
            accommodate your requested changes, subject to availability.
        </div>           
        
        <div class="faq_question">What is the cancellation policy for the Jeep-boat-Jeep?</div>
        <div class="faq_answer">
            If you need to cancel your reservation for any reason, we kindly ask that you send a written email to 
            <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> at least 48 hours prior to your scheduled service to receive a full refund 
            excluding the credit card fees of 5%. This cancellation policy is in place to facilitate efficient 
            scheduling and ensure availability for other travelers. We appreciate your understanding and timely 
            communication in these situations.
        </div>     
    </div>
{% endblock %}