{% extends "faq/index.html.twig" %}

{% block title %}Private Transportation FAQ{% endblock %}

{% block tab_sub_title %}Private Transportation{% endblock %}

{% block content %}
    <div class="faq_content">
        <div class="faq_question active" style="border:0">What is a private shuttle service in Costa Rica?</div>
        <div class="faq_answer" style="display:block">
            A private shuttle service in Costa Rica provides convenient and personalized transportation options for
            individuals, families, or groups between various destinations within the country. Unlike public transportation,
            private shuttles offer exclusivity, confort, and flexibility.
        </div>

        <div class="faq_question">How does a private shuttle service works?</div>
        <div class="faq_answer">
            Private shuttle services in Costa Rica operate by offering dedicated transportation for your group. You
            book the shuttle in advance, specify your pickup and drop-off locations, and enjoy a comfortable ride
            with a professional driver at the designated time.
        </div>

        <div class="faq_question">What are the benefits of using a private shuttle service?</div>
        <div class="faq_answer">
            <div>
                Private shuttle services offer several advantages, including:
            </div>
            <div>
                • Convenience: Door-to-door service saves time and reduces stress.
            </div>
            <div>
                • Comfort: Travel in air-conditioned vehicles with spacious seating.
            </div>
            <div>
                • Flexibility: Set your own schedule and stops along the way for an additional fee.
            </div>
            <div>
                • Privacy: Enjoy the company of your group without sharing the vehicle with strangers.
            </div>
            <div>
                • Safety: Professional drivers who are familiar with local roads and conditions.
            </div>
        </div>

        <div class="faq_question">Where do I find my driver at the airport?</div>
        <div class="faq_answer">
            Your driver will be outside of the customs area holding an <strong>“I Love Travel Costa Rica”</strong> sign with your
            name on it. If you are having trouble finding the driver, please contact us through email, live chat, or
            phone. Please provide your full name &An ILT Costa Rica agent will instruct you on where to find your
            <u>
                            driver. Please be aware of individuals at the airport who are not affiliated with our company and may try to take
                            advantage by demanding money from you. Kindly disregard their approaches and proceed directly to our designated
                            meeting point. Always talk to us directly to avoid any confusion.
            </u>
            <div style="margin-top: 10px">
                <div>Email: <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a></div>
                <div>WhatsApp Chat: +506 7078 7854</div>
                <div>Phone: +506 7078 7854 or 1-800-993-8696</div>
            </div>             
        </div>

        <div class="faq_question">How far in advance can I make a reservation?</div>
        <div class="faq_answer">
            We recommend making reservations in advance to ensure availability and secure your booking. For last-
            minute reservations, please email us at <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> to inquire about availability. During the
            holiday season, it's especially important to book ahead to secure your reservation.
        </div>

        <div class="faq_question">Are rates for private transportation per person?</div>
        <div class="faq_answer">
            No. Rates are total for the trip, not per person, and they vary depending on the size of the vehicle.
        </div>

        <div class="faq_question">Are there any taxes on Transportation?</div>
        <div class="faq_answer">
            Yes, Costa Rica has a 13% sales tax which is applicable to the services provided. This tax will be
            automatically calculated and included in the total cost during the online booking process.
        </div>

        <div class="faq_question">I don’t see my location. Do you offer service there?</div>
        <div class="faq_answer">
            We service most of Costa Rica. Just send an email to <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> and provide us with the 
            specific location details of where you intend to visit. One of our customer agents will respond with the 
            pricing details
        </div>

        <div class="faq_question">Can I customize my route or make stops along the way?</div>
        <div class="faq_answer">
            Absolutely, our private shuttle service provides the flexibility to customize your route or make stops at 
            attractions, restaurants, or scenic viewpoints. Feel free to share your specific itinerary and preferences 
            with us by sending an email to info@iltcostarica.com. We'll be happy to accommodate your requests. 
            (Extra fee may apply)
        </div>

        <div class="faq_question">Can I make changes to my pick-up time if needed?</div>
        <div class="faq_answer">
            Yes, we require a written email at <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> at least 48 hours before your service. We’ll do 
            our best to accommodate your changes subject to availability.
        </div>

        <div class="faq_question">I’ve changed accommodations, what do I need to do?</div>
        <div class="faq_answer">
            Send us a written email at info@iltcostarica.com to notify us of the change. Please note that if your 
            accommodations are not in the same area or require a 4x4, an additional fee will apply.
        </div>

        <div class="faq_question">Is this going to be a Private Service or Shared?</div>
        <div class="faq_answer">
            Our service exclusively offers private transportation with some exception to the Jeep-boat-Jeep service 
            we offer.
        </div>

        <div class="faq_question">Do you provide shared transportation?</div>
        <div class="faq_answer">
            We are not operating shared transportation services at the moment.
        </div>

        <div class="faq_question">Do you offer activities?</div>
        <div class="faq_answer">
            Yes, we do provide various activities. For more details about the available activities, you can click here.
        </div>

        <div class="faq_question">Can we add extra time if needed?</div>
        <div class="faq_answer">
            For customers interested in including extra stops beyond the standard service, they have the option to 
            purchase additional time at a rate of $50.00 USD per hour + tax. This allows for greater flexibility during 
            their journey.
        </div>

        <div class="faq_question">Do drivers speak English?</div>
        <div class="faq_answer">
            Certainly, most of our drivers are fluent in English. Your transportation experience will be smooth and 
            comfortable, ensuring effective communication throughout your journey.
        </div>

        <div class="faq_question">Do drivers wait after our landing time?</div>
        <div class="faq_answer">
            Indeed, we understand that immigration, baggage claim, and customs procedures can be time-consuming. Please be assured that our driver will be there to greet you upon your arrival. If you have 
            any questions or concerns during this process, feel free to reach out to us at info@iltcostarica.com or by 
            phone at +506 7078 7854. Your comfort and peace of mind are our priorities.
        </div>

        <div class="faq_question">Do drivers wait in case of flight delays?</div>
        <div class="faq_answer">
            Absolutely, we provide continuous flight monitoring around the clock. Our drivers are promptly 
            informed of any changes to your flight's arrival time. Should your flight be delayed and you receive new 
            flight details, kindly email us at info@iltcostarica.com as soon as possible so we can make the necessary 
            adjustments to ensure your transportation plans remain seamless. Your satisfaction is important to us.
        </div>

        <div class="faq_question">What is the cancellation policy for Transportation?</div>
        <div class="faq_answer">
            In the event that you need to cancel your reservation, please send a written email to 
            info@iltcostarica.com at least 48 hours prior to your scheduled service. A full refund will be issued, 
            excluding the 5% credit card fees. Your timely communication is appreciated, and we strive to ensure a 
            transparent cancellation process.
        </div>

        <div class="faq_question">What are credit card fees?</div>
        <div class="faq_answer">
            When making a booking using a credit card, we do not impose any credit card fees on our clients, unlike 
            many other Costa Rican companies. In the case of cancellations leading to a refund being processed 
            back to the client's credit card, it's important to note that credit card companies do not reimburse us for 
            the initial fees. Consequently, any refund amounts will exclude the 5% credit card fees from the total. 
            We value your understanding of this policy, which helps us maintain a transparent and efficient refund 
            process.                
        </div>

        <div class="faq_question">Do you offer transportation between hotels?</div>
        <div class="faq_answer">
            Certainly, we provide transportation services between hotels throughout Costa Rica. Our services are 
            available across the country, and we schedule pickups based on your preferred time. Whether you're 
            moving between different accommodations or exploring various destinations, we're here to facilitate 
            your seamless travel experience.
        </div>

        <div class="faq_question">What methods of payment do you accept?</div>
        <div class="faq_answer">
            Payments are processed securely through our online website. To confirm your reservation and secure 
            your booking, the full payment must be made before the scheduled service. We accept major credit 
            cards, including Visa, Mastercard, and American Express (AMEX). This payment process ensures that 
            your reservation is locked in and ready for your travel plans.
        </div>

        <div class="faq_question">What if my flight arrival details change?</div>
        <div class="faq_answer">
            Should you require changes to your flight itinerary, kindly get in touch with us at info@iltcostarica.com
            and provide the updated information. We'll be more than happy to accommodate the necessary 
            modifications. If your new arrival time is relatively similar, there will be no additional fees incurred. 
            However, if your arrival time differs significantly or if you're arriving on an entirely different date, it's 
            important to note that such changes are subject to availability. In such cases, an additional fee may 
            apply to account for the adjusted arrangements. Your timely communication helps us ensure a smooth 
            and coordinated transportation service.                
        </div>

        <div class="faq_question">Can you take surfboards?</div>
        <div class="faq_answer">
            Yes, we are happy to take your surfboards in our vans. The size of the surfboards is important as long 
            boards don’t fit inside our smaller vans, and we might need to use a larger vehicle which will have a 
            different price. Surfboards have an additional fee of $10.00 USD per board.
        </div>         
        
        <div class="faq_question">Do I need a 4x4 to reach my hotel or rental?</div>
        <div class="faq_answer">
            In certain areas like Uvita, Dominical, Santa Teresa, El Castillo, and similar regions, a number of hotels 
            and rental villas have steep or challenging driveways that require 4WD vehicles, particularly during the 
            rainy season. While these challenging roads are usually of short duration, an extra fee between $15.00
            USD - $50.00 USD per trip + tax (up to 4 passengers), per 4x4 vehicle, will be applicable. For your 
            convenience, we will provide the primary transfer using our comfortable van, and we will arrange for a 
            local 4x4 vehicle to cover that final stretch of difficult road. For further information and specific details, 
            please don't hesitate to get in touch with us. Your comfort and efficient transportation are our priorities.
            You could also reach out to your hotel or Airbnb/Villa host and arrange for 4x4 transportation with them 
            directly.
        </div>

        <div class="faq_question">What if my flight is cancelled and I need to cancel my services?</div>
        <div class="faq_answer">
            If your flight is cancelled, please notify us as soon as you receive the information. We understand that 
            flight cancellations can happen due to various reasons. Contact us immediately through 
            <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> or call us at <a href="tel:+50670787854">+506 7078 7854</a> to inform us about the cancellation and provide us 
            with the updated flight details.<br /><br />
            If your flight cancellation leads to the cancellation of our services and this falls within our 48-hour 
            cancellation policy, a full refund will be applied, excluding the 5% credit card fees. It's important to note 
            that any last-minute cancellations will not be eligible for a refund. To safeguard against non-refundable 
            or non-transferable travel arrangements, we strongly recommend obtaining Trip Interruption insurance. 
            This coverage can help recuperate any costs associated with unused and prepaid travel arrangements.
        </div>

        <div class="faq_question">Can I customize my route or make stops along the way?</div>
        <div class="faq_answer">
            Absolutely, for longer trips(3 hours or longer) we provide a complimentary 1-hour allowance for stops 
            along the way. However, if your hotel or villa is less than 30 minutes away, only bathroom stops are 
            included. However, if your stop(s) extend beyond the included hour or just require more time, an extra 
            fee of $50.00 USD per hour + tax will be applied. 
            <br /><br />
            Common stopping points include grocery stores, restaurants, restrooms, souvenir shops, ATMs, and 
            other conveniences. 
            <br /><br />
            This flexibility ensures that you have the convenience to make necessary stops during your travel while 
            maintaining a smooth schedule.
        </div>    
        
        <div class="faq_question">Do you provide car seats?</div>
        <div class="faq_answer">
            Yes, we provide car seats, and you can select them on our website. Car seats have a fee of $9.99 USD + 
            tax. Restrictions apply to the age and weight of children.
        </div>

        <div class="faq_question">What is the customary driver gratuity?</div>
        <div class="faq_answer">
            Although this is optional, but appreciate, usually 10% - 15% based on the quality of the service provided.
        </div>

        <div class="faq_question">Do you price match if we see a cheaper rate from a competitor?</div>
        <div class="faq_answer">
            Yes, we want you to have the best deal. We will try our best to match it. Please note that the service 
            needs to be the same (ie: Vehicle type, amenities, and must have a good reputation similar to ours.
            <br /><br />
            To price match we require the following details.
            <br /><br />
            <span style="font-weight:500">1. Gather your information</span><br />
            Proof of the lower price you found through website.
            <br /><br />
            <span style="font-weight:500">2. Send it to us</span><br />
            Email <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a>
            <br /><br />
            <span style="font-weight:500">3. We'll Review</span><br />
            We'll examine your materials and get in touch as soon as we can.
            <br /><br />
            <span style="font-weight:500">4. Receive your Price Match</span><br />
            If everything checks out, we'll match it. It's that simple.
        </div>    
        
        <div class="faq_question">Why are other companies sometimes cheaper?</div>
        <div class="faq_answer">
            There can be several reasons why other companies might offer lower prices for similar services:
            <br /><br />
            <span style="font-weight:500">1. Service Inclusions:</span> Some companies might offer a lower price by excluding certain services or 
            features that are included in our offerings. Always carefully review what's included in the 
            quoted price.<br />
            <span style="font-weight:500">2. Vehicle Type:</span> The type of vehicle used can significantly impact the cost. If other companies use 
            smaller or less comfortable vehicles, their prices might be lower.<br />
            <span style="font-weight:500">3. Quality and Experience:</span> Cheaper prices might reflect lower quality service, less experienced 
            drivers with very little English skills or older vehicles.<br />
            <span style="font-weight:500">4. Hidden Costs:</span> Some companies might have hidden costs that become apparent after booking, 
            which can make the final cost higher. An example of this would be credit card booking fees 
            when booking.<br />
            <span style="font-weight:500">5. No Frills:</span> Some companies might offer a basic, no-frills service at a lower cost by not providing 
            extras.
            <br /><br />
            When considering different options, it's important to not only look at the price but also consider the 
            quality of service, the condition of vehicles, the experience of drivers, customer reviews, and the overall 
            value you're getting for your money. Cheaper isn't always better if it compromises your experience or 
            safety. Check our reviews and compare with any other company, and you’ll see why we are Rated 
            Number #1 on TripAdvisor!!
        </div>

        <div class="faq_question">Why should I use I Love Travel Costa Rica instead of renting a car for my trip?</div>
        <div class="faq_answer">
            Deciding between I Love Travel Costa Rica and renting a car in Costa Rica depends on your preferences, 
            travel style, and specific needs. However, here is why we recommend using our service instead.
            <br /><br />
            I Love Travel Costa Rica provides you with a professional driver and a vehicle to transport you to your 
            desired destinations. Instead of driving yourself, you have the convenience of a dedicated driver who 
            takes care of navigating the roads, and parking, and ensuring your transportation needs are met.
            <br /><br />
            Here are some benefits of using our service vs. renting a car:
            <br /><br />
            <span style="font-weight:500">1. Convenience:</span>
            You don't have to worry about driving, parking, or navigating unfamiliar roads. The driver 
            handles all aspects of transportation.<br />
            <span style="font-weight:500">2. Relaxation:</span>
            You can sit back, relax, and enjoy the journey without the stress of driving in traffic or unfamiliar 
            areas.<br />
            <span style="font-weight:500">3. Time-Saving:</span>
            A professional driver knows the best routes to take, which can save you time and help you reach 
            your destinations more efficiently.<br />
            <span style="font-weight:500">4. Safety:</span>
            Experienced drivers are trained to prioritize safety. They are familiar with local traffic rules and 
            road conditions, reducing the risk of accidents.<br />
            <span style="font-weight:500">5. Local Knowledge:</span>
            Our knowledgeable driver can provide you with insights about the area, recommend attractions, 
            restaurants, and help you make the most of your visit.<br />
            <span style="font-weight:500">6. Productivity:</span>
            During your journey, you can make phone calls, answer emails, or work, allowing you to 
            maximize your time.<br />
            <span style="font-weight:500">7. Special Occasions:</span>
            Our services are often used for special occasions like weddings, proms, corporate events, and 
            more, providing a touch of luxury and convenience.<br />
            <span style="font-weight:500">8. Group Travel:</span>
            If you're traveling with a group, our service ensures everyone can travel together comfortably.<br />
            <span style="font-weight:500">9. No Parking Hassles:</span>
            You don't have to search for parking spaces or pay for parking fees. Our driver handles all 
            parking-related matters.<br />
            <span style="font-weight:500">10. Door-to-Door Service:</span>
            Our driver picks you up from your location and drops you off exactly where you need to go, 
            offering a seamless door-to-door experience.<br />
            <span style="font-weight:500">11. Stress Reduction:</span>
            Using our service eliminates the stress of driving, especially in unfamiliar or busy areas.
        </div>
        
        <div class="faq_question">Stilling thinking of renting a car? Other details & extra costs to consider when renting a car</div>
        <div class="faq_answer">
            <span style="font-weight:500">1. Car Insurance:</span>
            Car insurance is mandatory in Costa Rica and is not covered by your credit card or insurance. It is 
            necessary to purchase insurance when renting a car adding additional high costs.
            <br /><br />
            <span style="font-weight:500">2. Gasoline:</span>
            Depending on the duration of your trip, you might need to fill up a few times before returning 
            your car rental, and costs of gas are expensive in Costa Rica.
            <br /><br />
            <span style="font-weight:500">3. Driving Challenges:</span>
            Costa Rica's roads can be challenging, especially in rural areas or during the rainy season. Some 
            roads might require a 4x4 vehicle.
            <br /><br />
            <span style="font-weight:500">4. Parking and Navigation:</span>
            Finding parking in busy areas can be tricky, and navigation might be challenging in unfamiliar 
            regions.
            <br /><br />
            <span style="font-weight:500">5. Traffic and Road Conditions:</span>
            Costa Rica’s Road conditions can vary, and traffic congestion can affect travel times.
            <br /><br />
            <span style="font-weight:500">6. Tolls:</span>
            Driving in Costa Rica often involves the use of toll roads, especially on major highways and 
            routes connecting popular tourist destinations. Tolls are usually paid in colones, the local 
            currency.
        </div>                
    </div>
{% endblock %}