{% extends "faq/index.html.twig" %}

{% block title %}Private Domestic Flights FAQ{% endblock %}

{% block tab_sub_title %}Private Domestic Fligths{% endblock %}

{% block content %}
    <div class="faq_content">
        <div class="faq_question">How far in advance can I make a reservation?</div>
        <div class="faq_answer">
            We recommend making reservations in advance to ensure availability and secure your booking. This can 
            be done through the website or <a href="/product/transportation/private-flight">here</a>. For last-minute reservations, please email us at 
            <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> to inquire about availability. During holiday seasons, it's especially important to 
            book ahead to secure your reservation.
        </div>

        <div class="faq_question">Where do we meet the representative after we exit the airport?</div>
        <div class="faq_answer">
            If you are arriving at either international airport (SJO or LIR), the representative will be waiting outside 
            the airport holding a sign with your name on it. They will be ready to assist you with getting you to the 
            plane and boarding the plane to ensure a smooth transition to your travel experience. If you have any 
            questions or need further assistance, please don't hesitate to contact us at. We're here to ensure your 
            journey is comfortable and hassle-free.
            <br /><br />
            <span style="font-weight:500">Email:</span> <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a><br />
            <span style="font-weight:500">WhatsApp Chat:</span> +506 7078 7854<br />
            <span style="font-weight:500">Phone:</span> +506 7078 7854 (Local)<br />
            <span style="font-weight:500">Phone:</span> 1-800-993-8696 (Toll Free) press can’t find my driver.<br />
        </div>
        
        <div class="faq_question">Are there any taxes on Private Flights?</div>
        <div class="faq_answer">
            Yes, a 13% sale tax will apply and will show online during the booking process.
        </div>

        <div class="faq_question">What is the cancellation policy for Private Flights?</div>
        <div class="faq_answer">
            If you need to cancel your reservation for any reason, we require a written email <a href="mailto:info@iltcostarica.com">info@iltcostarica.com.</a>
            Please also refer to our terms and conditions here. (Terms & Conditions)<br /><br />
            -72 hours prior the flight the penalty will be 25%<br /><br />
            -48 hours prior the flight the penalty will be 50%<br /><br />
            -24 hours prior the flight the penalty will be 100%<br /><br />
        </div>
        
        <div class="faq_question">I don’t see my location. Do you offer service there?</div>
        <div class="faq_answer">
            We service all domestic airports in Costa Rica. Just send an email to <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> and provide 
            us with the specific location details of where you intend to visit. One of our customer agents will 
            respond with the pricing details.
        </div>
        
        <div class="faq_question">Do you offer private ground transportation to/from the domestic airports to our hotel?</div>
        <div class="faq_answer">
            Certainly, we offer private ground transportation to and from the domestic airports to your hotel. To 
            arrange this convenient service, you have a couple of options:<br /><br />
            <span style="font-weight:500">1. Book Online:</span> You can book the private ground transportation service directly through our 
            website. Simply select the option for airport transfers and provide the necessary details. Our 
            booking system will guide you through the process.
            website. Simply select the option for airport transfers and provide the necessary details. Our 
            booking system will guide you through the process.
            <br /><br />
            <span style="font-weight:500">2. Email Request:</span> Alternatively, if you prefer, you can send us an email at info@iltcostarica.com to 
            request the private ground transportation service. Our customer agents will promptly respond 
            with the pricing details and any additional information you might need.
            <br /><br />
            Our goal is to provide you with a seamless and comfortable travel experience. Feel free to reach out to 
            us for any assistance or questions you may have regarding transportation arrangements or any other 
            aspect of your trip. We look forward to serving you!
        </div>          
    </div>
{% endblock %}