{% extends "faq/index.html.twig" %}

{% block title %}Water Taxi FAQ{% endblock %}

{% block tab_sub_title %}Water Taxi{% endblock %}

{% block content %}
    <div class="faq_content">
        <div class="faq_question">What is the Water Taxi service?</div>
        <div class="faq_answer">
            The water taxi service operates between Montezuma and Jaco, offering travelers a convenient 
            way to travel between these two coastal destinations including adding extension to visit other 
            locations such as Santa Teresa or Manuel Antonio.
        </div>

        <div class="faq_question">What are the advantages of using the water taxi service between Montezuma and Jaco?</div>
        <div class="faq_answer">
            The water taxi service provides a scenic and efficient way to travel between Montezuma and 
            Jaco, avoiding longer overland routes. It offers a unique coastal perspective and may save travel 
            time. You can also add an extension to visit other locations such as Santa Teresa or Manuel 
            Antonio.
        </div>

        <div class="faq_question">How long does the Water Taxi service take?</div>
        <div class="faq_answer">
            The duration of the water taxi ride can vary based on factors such as weather conditions and the 
            specific water taxi operator. Generally, the ride can take around 1 to 1.5 hours + any driving 
            time depending on your pickup or drop-off location.
        </div>

        <div class="faq_question">Are there alternative transportation options between Montezuma and Jaco?</div>
        <div class="faq_answer">
            Yes, there are other routes, including longer overland journeys that can take up to 4 hours. 
            However, the water taxi service is often chosen for its efficiency and scenic experience.
        </div>
        
        <div class="faq_question">Can I bring luggage on the Water Taxi service?</div>
        <div class="faq_answer">
            Yes, you can bring luggage with you on the journey (1 suitcase + carry-on per person). Additional 
            fees may apply for additional luggage. We would suggest taking precautions to safeguard your luggage 
            from the water.
        </div>

        <div class="faq_question">How far in advance can I make a reservation?</div>
        <div class="faq_answer">
            We recommend making reservations in advance to ensure availability and secure your booking. 
            This can be done through the website or <a href="/product/transportation/water-taxi">here</a>. For last-minute reservations, please email us at 
            <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> to inquire about availability. During holiday seasons, it's especially 
            important to book ahead to secure your reservation.
        </div>
        
        <div class="faq_question">Is this going to be a Shared or Private service for the Water Taxi?</div>
        <div class="faq_answer">
            The Water Taxi service is offered as a shared service. Please email us at <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> to 
            inquire about the private boat service. 
        </div>

        <div class="faq_question">Are rates per person for the Water Taxi service?</div>
        <div class="faq_answer">
            Rates are calculated on a per-person basis.
        </div>

        <div class="faq_question">Are there any taxes for the Water Taxi service?</div>
        <div class="faq_answer">
            Yes, Costa Rica has a 13% sales tax is applicable to the services provided. This tax will be 
            automatically calculated and included in the total cost during the online booking process.
        </div>
        
        <div class="faq_question">Does the Water Taxi service operate outside Montezuma or Jaco?</div>
        <div class="faq_answer">
            Yes, the Water Taxi service has pickup location from Santa Teresa & Manuel Antonio. However, 
            if your hotel or villa is located outside of these areas, an additional fee will be applied. You will 
            receive an email detailing the total cost of this additional fee. Additionally, if the property 
            requires a 4x4 vehicle to access due to challenging road conditions, an extra fee will also be 
            applicable. It's important to keep these considerations in mind when planning your 
            transportation arrangements.
        </div>
        
        <div class="faq_question">Can I make changes to my pick-up time if needed?</div>
        <div class="faq_answer">
            Unfortunately, due to the fixed schedule of the Water Taxi service, we are unable to 
            accommodate changes to the pick-up time. The service operates according to a specific 
            timetable, and alterations to the schedule are not feasible. We recommend planning your travel 
            arrangements accordingly to ensure you're able to board the Water Taxi at the designated time 
            or make other overland arrangements instead to better fit your schedule.
        </div>
        <div class="faq_question">What is the cancellation policy for the Water-Taxi service?</div>
        <div class="faq_answer">
            If you need to cancel your reservation for any reason, we kindly ask that you send a written 
            email to <a href="mailto:info@iltcostarica.com">info@iltcostarica.com</a> at least 48 hours prior to your scheduled service to receive a full 
            refund excluding the credit card fees of 5%. This cancellation policy is in place to facilitate 
            efficient scheduling and ensure availability for other travelers. We appreciate your 
            understanding and timely communication in these situations.                
        </div>              
    </div>
{% endblock %}