<section class="testimonials">
    <div class="container">

        <h2 style='font-family: "Poppins"; font-size: 40px; color: #B18A5B; font-weight: 500;'>Testimonials</h2>
        <h3>What people are saying</h3>

        <div class="testimonials-items">

            <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>

            <div class="commonninja_component pid-d50cae4d-c4bb-46fd-8fd3-85b333938dac"></div>
        </div>
    </div>
</section> 