{% extends "base.html.twig" %}

{% block title %}
    {{ 'booking.title'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <p style="color: red">{{ 'booking.404'|trans }}</p>
    </div>
{% endblock %}